pre {
	background-color:	rgba(27, 31, 35, 0.05);
	-moz-border-radius:	3px;
	-o-border-radius:	3px;
	-webkit-border-radius:	3px;
	border-radius:		3px;
	font-size:		85%;
}

table {
	border:			1px solid black;
	border-collapse:	collapse;
}

th, td {
	padding:		5px;
}
